{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
    {{ super() }}
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="{{ article.summary|striptags }}" />
{% endblock %}

{% block content %}        
<section id="content" class="body white-box" itemscope itemtype="http://schema.org/BlogPosting">
        <header> <h2 class="entry-title"><a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title}}"><span itemprop="name">{{ article.title }}</a></h2> </header>
        <div class="entry-content">
          <div itemprop="articleBody">
          {{ article.content }}
          </div>
        {% include "post-info.html" %}
        </div><!-- /.entry-content -->

<script type="text/javascript"><!--
google_ad_client = "ca-pub-6817506097439829";
/* Eric Moritz Blog - Story */
google_ad_slot = "8512489920";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

        {% if DISQUS_SITENAME %}
        <div class="comments">
        <h2>Comments !</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
               var disqus_identifier = "{{ article.url }}";
               (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
        </div>
        {% endif %}

</section>
{% endblock %}
