{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block content %}        
<section id="content" class="body white-box">    
        <header> <h2 class="entry-title"><a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h2> </header>
        <div class="entry-content">
        {{ article.content }}
        {% include "post-info.html" %}
        </div><!-- /.entry-content -->
</section>
{% endblock %}
