                <footer class="post-info">
                  {% if article.author %}
                  <address itemprop="creator" itemscope itemtype="http://schema.org/Person" class="vcard author">
                    <a class="url fn" href="{{ SITEURL }}/author/{{ article.author }}.html">
                      <span itemprop="name">{{ article.author }}</span></a></address>
                  {% endif %}

                  {% if article.author and article.tags %}<span>:</span>{% endif %}

                    {% for tag in article.tags %}
                    {% if not loop.first %}
                    <span>/</span>
                    {% endif %}

                    <a href="{{ SITEURL }}/tag/{{ tag }}.html"> <span itemprop="articleSection">{{ tag }}</span></a>
                    {% endfor %}

                    <span class="entry-summary" itemprop="description" style="display:none">{{ article.summary|striptags }}</span>

                  <div>
                    <time class="published" title="{{ article.date.isoformat() }}" datetime="{{ article.date.isoformat() }}" itemprop="dateCreated">{{ article.locale_date }}</time>
                  </div>

                </footer>
